[Unit]
Description=DHCPD unnumbered
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/dhcpd-unnumbered
ExecStart=/usr/sbin/dhcpd-unnumbered ${OPT}
Restart=on-failure

[Install]
WantedBy=multi-user.target
